In [185]:
import numpy as np
import pandas as pd

In [187]:
fb_df=pd.read_csv("Laliga.csv", header=1)

In [188]:
fb_df.head(10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,14,1932-33,2015-16,1

In [189]:
## understanding the Data Set 
fb_df.info()
fb_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 20 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           61 non-null object
GamesPlayed      61 non-null object
GamesWon         61 non-null object
GamesDrawn       61 non-null object
GamesLost        61 non-null object
GoalsFor         61 non-null object
GoalsAgainst     61 non-null object
Champion         61 non-null object
Runner-up        61 non-null object
Third            61 non-null object
Fourth           61 non-null object
Fifth            61 non-null object
Sixth            61 non-null object
T                61 non-null object
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
dtypes: int64(3), object(17)
memory usage: 9.6+ KB

             Pos    Seasons  BestPosition
count  61.000000  61.000000     61.000000
mean   31.000000  24.000000      7.081967
std    17.752934  26.827225      5.276663
min     1.000000   1.000000      1.000000
25%    16.000000   4.000000      3.000000
50%    31.000000  12.000000      6.000000
75%    46.000000  38.000000     10.000000
max    61.000000  86.000000     20.000000

In [157]:
##Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.

In [190]:
fb_df.replace ('-',0)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
20,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998-99,2013-14,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
24,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004-05,2015-16,6
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
28,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
33,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987-88,1996-97,7
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
35,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991-92,2004-05,7
36,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007-08,2014-15,8
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
38,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994-95,1997-98,10
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
42,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999-00,2008-09,17
43,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014-15,2014-15,10
44,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3
45,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990-91,1992-93,9
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
47,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996-97,1998-99,17
48,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995-96,1997-98,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
51,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
53,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
55,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

In [192]:
fb_df = fb_df.applymap(lambda x: np.nan if x=="-" else x)

In [193]:
fb_df.columns

Index(['Pos', 'Team', 'Seasons', 'Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
       'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T', 'Debut',
       'Since/LastApp', 'BestPosition'],
      dtype='object')

In [200]:
for col in ['Seasons', 'Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
       'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T']:
    fb_df[col] = pd.to_numeric(fb_df[col])
fb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 21 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           60 non-null float64
GamesPlayed      60 non-null float64
GamesWon         60 non-null float64
GamesDrawn       60 non-null float64
GamesLost        60 non-null float64
GoalsFor         60 non-null float64
GoalsAgainst     60 non-null float64
Champion         9 non-null float64
Runner-up        13 non-null float64
Third            18 non-null float64
Fourth           22 non-null float64
Fifth            25 non-null float64
Sixth            28 non-null float64
T                33 non-null float64
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
DebutYear        61 non-null int64
dtypes: float64(14), int64(4), object(3)
memory usage: 10.1+ KB

In [195]:
fb_df['Champion'] = pd.to_numeric(fb_df['Champion'])
fb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 20 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           60 non-null object
GamesPlayed      60 non-null object
GamesWon         60 non-null object
GamesDrawn       60 non-null object
GamesLost        60 non-null object
GoalsFor         60 non-null object
GoalsAgainst     60 non-null object
Champion         9 non-null float64
Runner-up        13 non-null object
Third            18 non-null object
Fourth           22 non-null object
Fifth            25 non-null object
Sixth            28 non-null object
T                33 non-null object
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
dtypes: float64(1), int64(3), object(16)
memory usage: 9.6+ KB

In [196]:
fb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 20 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           60 non-null object
GamesPlayed      60 non-null object
GamesWon         60 non-null object
GamesDrawn       60 non-null object
GamesLost        60 non-null object
GoalsFor         60 non-null object
GoalsAgainst     60 non-null object
Champion         9 non-null float64
Runner-up        13 non-null object
Third            18 non-null object
Fourth           22 non-null object
Fifth            25 non-null object
Sixth            28 non-null object
T                33 non-null object
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
dtypes: float64(1), int64(3), object(16)
memory usage: 9.6+ KB

In [161]:
##Print all the teams which have started playing between 1930-1980.

In [197]:
fb_df ['DebutYear'] = [ year.split("-")[0] for year in fb_df ['Debut']]
fb_df ['DebutYear'] = pd.to_numeric( fb_df ['DebutYear'])
fb_df .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 21 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           60 non-null object
GamesPlayed      60 non-null object
GamesWon         60 non-null object
GamesDrawn       60 non-null object
GamesLost        60 non-null object
GoalsFor         60 non-null object
GoalsAgainst     60 non-null object
Champion         9 non-null float64
Runner-up        13 non-null object
Third            18 non-null object
Fourth           22 non-null object
Fifth            25 non-null object
Sixth            28 non-null object
T                33 non-null object
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
DebutYear        61 non-null int64
dtypes: float64(1), int64(4), object(16)
memory usage: 10.1+ KB

In [198]:
fb_df [fb_df ['DebutYear'].between(1930, 1980)]['Team']

3                Valencia
5                 Sevilla
8                Zaragoza
9              Real Betis
10    Deportivo La Coruna
11             Celta Vigo
12             Valladolid
14         Sporting Gijon
15                Osasuna
16                 Malaga
17                 Oviedo
18               Mallorca
19             Las Palmas
21                Granada
22         Rayo Vallecano
23                  Elche
25               Hercules
26               Tenerife
27                 Murcia
28                 Alaves
29                Levante
30              Salamanca
31               Sabadell
32                  Cadiz
34              Castellon
37                Cordoba
39             Recreativo
40              Burgos CF
41             Pontevedra
46              Gimnastic
49               Alcoyano
50                   Jaen
52             AD Almeria
54                 Lleida
57                 Condal
58        Atletico Tetuan
59       Cultural Leonesa
Name: Team, dtype: object

In [164]:
##Print the list of teams which came Top 5 in terms of points
## The result below is not correct. Not sure why the data is not being represented. Request help.

In [201]:
fb_df.sort_values(by='Points',ascending=False).head(5)['Team']

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

In [166]:
##Write a function with name Goal_diff_count which should return all the teams with their Goal Differences. 
##Using the same function, find the team which has maximum and minimum goal difference.

In [206]:
# function to return all the teams with their Goal Differences
def Goal_diff_count(df,fromCol,ToCol,diff):
    df[diff] = df[fromCol] - df[ToCol]
    return df
result = Goal_diff_count(fb_df,'GoalsFor','GoalsAgainst','goal_diff')

In [217]:
def Goal_diff_count():
    return fb_df['GoalsFor']-fb_df['GoalsAgainst']
fb_df['Goal_diff_count']= Goal_diff_count()
print(fb_df)

    Pos                 Team  Seasons  Points  GamesPlayed  GamesWon  \
0     1          Real Madrid       86  4385.0       2762.0    1647.0
1     2            Barcelona       86  4262.0       2762.0    1581.0
2     3      Atletico Madrid       80  3442.0       2614.0    1241.0
3     4             Valencia       82  3386.0       2664.0    1187.0
4     5      Athletic Bilbao       86  3368.0       2762.0    1209.0
5     6              Sevilla       73  2819.0       2408.0     990.0
6     7             Espanyol       82  2792.0       2626.0     948.0
7     8        Real Sociedad       70  2573.0       2302.0     864.0
8     9             Zaragoza       58  2109.0       1986.0     698.0
9    10           Real Betis       51  1884.0       1728.0     606.0
10   11  Deportivo La Coruna       45  1814.0       1530.0     563.0
11   12           Celta Vigo       51  1789.0       1698.0     586.0
12   13           Valladolid       42  1471.0       1466.0     463.0
13   14     Racing Santander       44  1416.0       1428.0     453.0
14   15       Sporting Gijon       43  1389.0       1458.0     471.0
15   16              Osasuna       37  1351.0       1318.0     426.0
16   17               Malaga       36  1314.0       1255.0     390.0
17   18               Oviedo       38  1174.0       1192.0     408.0
18   19             Mallorca       27  1148.0        988.0     333.0
19   20           Las Palmas       33  1020.0       1096.0     367.0
20   21           Villarreal       17   970.0        646.0     266.0
21   22              Granada       23   667.0        742.0     218.0
22   23       Rayo Vallecano       17   662.0        652.0     189.0
23   24                Elche       21   606.0        678.0     203.0
24   25               Getafe       12   553.0        456.0     147.0
25   26             Hercules       20   538.0        628.0     184.0
26   27             Tenerife       13   510.0        494.0     155.0
27   28               Murcia       18   445.0        586.0     145.0
28   29               Alaves       12   421.0        380.0     125.0
29   30              Levante       11   416.0        402.0     113.0
..  ...                  ...      ...     ...          ...       ...
31   32             Sabadell       14   353.0        426.0     129.0
32   33                Cadiz       12   343.0        448.0     104.0
33   34             Logrones        9   293.0        346.0      96.0
34   35            Castellon       11   285.0        334.0     103.0
35   36             Albacete        7   277.0        270.0      76.0
36   37              Almeria        6   242.0        228.0      62.0
37   38              Cordoba        9   230.0        282.0      82.0
38   39           Compostela        4   190.0        160.0      52.0
39   40           Recreativo        5   188.0        186.0      50.0
40   41            Burgos CF        6   168.0        204.0      59.0
41   42           Pontevedra        6   150.0        180.0      53.0
42   43             Numancia        4   148.0        152.0      37.0
43   44                Eibar        3   132.0        114.0      35.0
44   45               Arenas        7   107.0        130.0      43.0
45   46          Real Burgos        3    96.0        114.0      26.0
46   47            Gimnastic        4    91.0        116.0      34.0
47   48          Extremadura        2    83.0         80.0      20.0
48   49               Merida        2    81.0         80.0      19.0
49   50             Alcoyano        4    76.0        108.0      30.0
50   51                 Jaen        3    71.0         90.0      29.0
51   52           Real Union        4    56.0         72.0      21.0
52   53           AD Almeria        2    52.0         68.0      17.0
53   54               Europa        3    42.0         54.0      18.0
54   55               Lleida        2    40.0         68.0      13.0
55   56              Leganes        1    35.0         38.0       8.0
56   57                Xerez        1    34.0         38.0       8.0
57   58               Condal        1    22.0         30.0       7.0
58   59      Atletico Tetuan        1    19.0         30.0       7.0
59   60     Cultural Leonesa        1    14.0         30.0       5.0
60   61               Girona        1     NaN          NaN       NaN

    GamesDrawn  GamesLost  GoalsFor  GoalsAgainst  ...  Fifth  Sixth     T  \
0        552.0      563.0    5947.0        3140.0  ...    3.0    4.0  79.0
1        573.0      608.0    5900.0        3114.0  ...    4.0    6.0  83.0
2        598.0      775.0    4534.0        3309.0  ...    7.0    6.0  56.0
3        616.0      861.0    4398.0        3469.0  ...   10.0    7.0  50.0
4        633.0      920.0    4631.0        3700.0  ...    8.0   10.0  49.0
5        531.0      887.0    3680.0        3373.0  ...   12.0    6.0  32.0
6        608.0     1070.0    3609.0        3889.0  ...    2.0    5.0  16.0
7        577.0      861.0    3228.0        3230.0  ...    4.0    3.0  19.0
8        522.0      766.0    2683.0        2847.0  ...    4.0    4.0  18.0
9        440.0      682.0    2159.0        2492.0  ...    4.0    4.0  14.0
10       392.0      575.0    2052.0        2188.0  ...    NaN    1.0  12.0
11       389.0      723.0    2278.0        2624.0  ...    4.0    5.0  11.0
12       384.0      619.0    1767.0        2180.0  ...    1.0    1.0   3.0
13       336.0      639.0    1843.0        2368.0  ...    NaN    1.0   5.0
14       358.0      629.0    1753.0        2152.0  ...    2.0    1.0   7.0
15       327.0      565.0    1500.0        1834.0  ...    2.0    2.0   6.0
16       330.0      535.0    1421.0        1763.0  ...    NaN    1.0   2.0
17       292.0      492.0    1642.0        1951.0  ...    2.0    4.0  11.0
18       256.0      399.0    1182.0        1371.0  ...    2.0    1.0   5.0
19       242.0      487.0    1347.0        1746.0  ...    1.0    1.0   5.0
20       172.0      208.0     892.0         789.0  ...    3.0    2.0   9.0
21       175.0      349.0     819.0        1157.0  ...    NaN    2.0   2.0
22       148.0      305.0     760.0        1088.0  ...    NaN    NaN   NaN
23       180.0      295.0     750.0        1022.0  ...    1.0    1.0   2.0
24       112.0      197.0     520.0         633.0  ...    NaN    1.0   1.0
25       149.0      295.0     716.0        1050.0  ...    1.0    4.0   5.0
26       128.0      211.0     619.0         744.0  ...    2.0    NaN   2.0
27       143.0      298.0     607.0         992.0  ...    NaN    NaN   NaN
28        81.0      174.0     458.0         623.0  ...    NaN    1.0   1.0
29        95.0      194.0     430.0         632.0  ...    NaN    1.0   1.0
..         ...        ...       ...           ...  ...    ...    ...   ...
31        95.0      202.0     492.0         720.0  ...    1.0    NaN   2.0
32       127.0      217.0     393.0         662.0  ...    NaN    NaN   NaN
33        92.0      158.0     291.0         489.0  ...    NaN    NaN   NaN
34        79.0      152.0     419.0         588.0  ...    2.0    NaN   3.0
35        76.0      118.0     320.0         410.0  ...    NaN    NaN   NaN
36        56.0      110.0     244.0         366.0  ...    NaN    NaN   NaN
37        63.0      137.0     285.0         430.0  ...    1.0    NaN   1.0
38        45.0       63.0     199.0         241.0  ...    NaN    NaN   NaN
39        46.0       90.0     202.0         296.0  ...    NaN    NaN   NaN
40        50.0       95.0     216.0         310.0  ...    NaN    NaN   NaN
41        44.0       83.0     165.0         221.0  ...    NaN    NaN   NaN
42        37.0       78.0     155.0         253.0  ...    NaN    NaN   NaN
43        27.0       52.0     139.0         167.0  ...    NaN    NaN   NaN
44        21.0       66.0     227.0         308.0  ...    3.0    NaN   4.0
45        44.0       44.0     101.0         139.0  ...    NaN    NaN   NaN
46        16.0       66.0     181.0         295.0  ...    NaN    NaN   NaN
47        23.0       37.0      62.0         117.0  ...    NaN    NaN   NaN
48        24.0       37.0      70.0         115.0  ...    NaN    NaN   NaN
49        16.0       62.0     145.0         252.0  ...    NaN    NaN   NaN
50        13.0       48.0     121.0         183.0  ...    NaN    NaN   NaN
51        14.0       37.0     153.0         184.0  ...    NaN    1.0   1.0
52        18.0       33.0      71.0         116.0  ...    NaN    NaN   NaN
53         6.0       30.0      97.0         131.0  ...    NaN    NaN   NaN
54        14.0       41.0      70.0         182.0  ...    NaN    NaN   NaN
55        11.0       19.0      36.0          55.0  ...    NaN    NaN   NaN
56        10.0       20.0      38.0          66.0  ...    NaN    NaN   NaN
57         8.0       15.0      37.0          57.0  ...    NaN    NaN   NaN
58         5.0       18.0      51.0          85.0  ...    NaN    NaN   NaN
59         4.0       21.0      34.0          65.0  ...    NaN    NaN   NaN
60         NaN        NaN       NaN           NaN  ...    NaN    NaN   NaN

      Debut  Since/LastApp  BestPosition  DebutYear goal_diff  \
0      1929           1929             1       1929    2807.0
1      1929           1929             1       1929    2786.0
2      1929        2002-03             1       1929    1225.0
3   1931-32        1987-88             1       1931     929.0
4      1929           1929             1       1929     931.0
5   1934-35        2001-02             1       1934     307.0
6      1929        1994-95             3       1929    -280.0
7      1929        2010-11             1       1929      -2.0
8   1939-40        2012-13             2       1939    -164.0
9   1932-33        2015-16             1       1932    -333.0
10  1941-42        2014-15             1       1941    -136.0
11  1939-40        2012-13             4       1939    -346.0
12  1948-49        2013-14             4       1948    -413.0
13     1929        2011-12             2       1929    -525.0
14  1944-45        2015-16             2       1944    -399.0
15  1935-36        2016-17             4       1935    -334.0
16  1949-50        2008-09             4       1949    -342.0
17  1933-34        2000-01             3       1933    -309.0
18  1960-61        2012-13             3       1960    -189.0
19  1951-52        2015-16             2       1951    -399.0
20  1998-99        2013-14             2       1998     103.0
21  1941-42        2016-17             6       1941    -338.0
22  1977-78        2015-16             8       1977    -328.0
23  1959-60        2014-15             5       1959    -272.0
24  2004-05        2015-16             6       2004    -113.0
25  1935-36        2010-11             5       1935    -334.0
26  1961-62        2009-10             5       1961    -125.0
27  1940-41        2007-08            11       1940    -385.0
28  1930-31        2016-17             6       1930    -165.0
29  1963-64        2015-16             6       1963    -202.0
..      ...            ...           ...        ...       ...
31  1943-44        1987-88             4       1943    -228.0
32  1977-78        2005-06            12       1977    -269.0
33  1987-88        1996-97             7       1987    -198.0
34  1941-42        1990-91             4       1941    -169.0
35  1991-92        2004-05             7       1991     -90.0
36  2007-08        2014-15             8       2007    -122.0
37  1962-63        2014-15             5       1962    -145.0
38  1994-95        1997-98            10       1994     -42.0
39  1978-79        2008-09             8       1978     -94.0
40  1971-72        1979-80            12       1971     -94.0
41  1963-64        1969-70             7       1963     -56.0
42  1999-00        2008-09            17       1999     -98.0
43  2014-15        2014-15            10       2014     -28.0
44     1929        1934-35             3       1929     -81.0
45  1990-91        1992-93             9       1990     -38.0
46  1947-48        2006-07             7       1947    -114.0
47  1996-97        1998-99            17       1996     -55.0
48  1995-96        1997-98            19       1995     -45.0
49  1945-46        1950-51            10       1945    -107.0
50  1953-54        1957-58            14       1953     -62.0
51     1929        1931-32             6       1929     -31.0
52  1979-80        1980-81            10       1979     -45.0
53     1929        1930-31             8       1929     -34.0
54  1950-51        1993-94            16       1950    -112.0
55  2016-17        2016-17            17       2016     -19.0
56  2009-10        2009-10            20       2009     -28.0
57  1956-57        1956-57            16       1956     -20.0
58  1951-52        1951-52            16       1951     -34.0
59  1955-56        1955-56            15       1955     -31.0
60  2017-18        2017-18             9       2017       NaN

   Percentage of Winning  Goal_diff_count
0              59.630702           2807.0
1              57.241130           2786.0
2              47.475134           1225.0
3              44.557057            929.0
4              43.772629            931.0
5              41.112957            307.0
6              36.100533           -280.0
7              37.532580             -2.0
8              35.146022           -164.0
9              35.069444           -333.0
10             36.797386           -136.0
11             34.511190           -346.0
12             31.582538           -413.0
13             31.722689           -525.0
14             32.304527           -399.0
15             32.321700           -334.0
16             31.075697           -342.0
17             34.228188           -309.0
18             33.704453           -189.0
19             33.485401           -399.0
20             41.176471            103.0
21             29.380054           -338.0
22             28.987730           -328.0
23             29.941003           -272.0
24             32.236842           -113.0
25             29.299363           -334.0
26             31.376518           -125.0
27             24.744027           -385.0
28             32.894737           -165.0
29             28.109453           -202.0
..                   ...              ...
31             30.281690           -228.0
32             23.214286           -269.0
33             27.745665           -198.0
34             30.838323           -169.0
35             28.148148            -90.0
36             27.192982           -122.0
37             29.078014           -145.0
38             32.500000            -42.0
39             26.881720            -94.0
40             28.921569            -94.0
41             29.444444            -56.0
42             24.342105            -98.0
43             30.701754            -28.0
44             33.076923            -81.0
45             22.807018            -38.0
46             29.310345           -114.0
47             25.000000            -55.0
48             23.750000            -45.0
49             27.777778           -107.0
50             32.222222            -62.0
51             29.166667            -31.0
52             25.000000            -45.0
53             33.333333            -34.0
54             19.117647           -112.0
55             21.052632            -19.0
56             21.052632            -28.0
57             23.333333            -20.0
58             23.333333            -34.0
59             16.666667            -31.0
60                   NaN              NaN

[61 rows x 24 columns]

In [213]:
print(max(fb_df['goal_diff']))
#print(min(fb_df['goal_diff']))
print("team with max diff of",max(fb_df['goal_diff']),"is",fb_df.sort_values(by='goal_diff',ascending=True).head(1)['Team'].values[0])
print("team with min diff of",min(fb_df['goal_diff']),"is",fb_df.sort_values(by='goal_diff',ascending=False).head(1)['Team'].values[0])

2807.0
team with max diff of 2807.0 is Racing Santander
team with min diff of -525.0 is Real Madrid

In [168]:
##Create a new column with name Winning Percent and append it to the data set
Percentage of Winning = (GamesWon / GamesPlayed)*100

If there are any numerical error, replace it with 0%

Print the top 5 teams which has the highest Winning percentage

SyntaxError: invalid syntax (<ipython-input-168-8f0ec16f358b>, line 2)

In [222]:
fb_df['Percentage of Win'] = fb_df['GamesWon']/fb_df['GamesPlayed']*100

In [223]:
fb_df['Percentage of Win'].fillna(0,inplace=True)
fb_df['Percentage of Win']
print("The top 5 teams with highest Win percentage are")
for i in range(0,5):
    print(fb_df.sort_values(by='Percentage of Winning',ascending=False).head(5)['Team'][i],"with",round(fb_df.sort_values(by='Percentage of Winning',ascending=False).head(5)['Percentage of Winning'][i],1),"%")

The top 5 teams with highest Win percentage are
Real Madrid with 59.6 %
Barcelona with 57.2 %
Atletico Madrid with 47.5 %
Valencia with 44.6 %
Athletic Bilbao with 43.8 %

In [224]:
print("The sum of all points grouped by 'Best Position' per each 'Best Position' is:")
pd.DataFrame(fb_df.groupby(by='BestPosition').agg(sum)['Points'])

The sum of all points grouped by 'Best Position' per each 'Best Position' is:

               Points
BestPosition
1             27933.0
2              6904.0
3              5221.0
4              6563.0
5              1884.0
6              2113.0
7              1186.0
8              1134.0
9                96.0
10              450.0
11              445.0
12              511.0
14               71.0
15               14.0
16               81.0
17              266.0
19               81.0
20               34.0